body{
    font-family: Arial,Verdana, Sans-serif;
    font: 18px #222; 
    line-height: 1.5; 
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    background-color: #ccc;
}

header{
    width: 1000px; 
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
    background-color: #8c1d40;
    font: #fff;
    padding: 20px 20px 20px 20px; 
    text-align: center;
}

footer{
    width: 1000px; 
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto; 
    background-color: #8c1d40;
    font: #fff;
    padding: 20px 20px 20px 20px; 
    text-align: center;
} 


div{
    width: 1000px; 
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font: 40px;
}

h2{
    font: 32px;
}

h3{
    24px;
}

#grid-container{
    display: grid;
    grid-template-columns: 1.5fr 5fr;
}

nav{
   background-color: #ffc627;
   padding-left: 0%; 
   list-style-type: none;
}

nav li{
    display: block;
    background-color: #8c1d40;
    font: #fff;
    padding: 8px 8px 8px 8px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16px;
    text-decoration: remove underline;
    font-size: 20px;
    font-weight: bold;

}

nav li:hover{
    font: #8c1d40;
    background-color: #fff;
}

main{
    background-color: #fff;
    padding: 24px 24px 24px 24px;
}

a.main{
    font:#8c1d40;
    font-weight: bold;
}

a.main:hover{
    background-color: #8c1d40;
    font: #fff;
    font-weight: bold;
}

p{
    font: #444;
}

q{
    font: #444;
    display: italic;
}

span.years{
    background-color: #ffc627;
    font: #555 20px;
    padding: 4px 4px 4px 4px;
    font-weight: bold;
}

footer h2{
    font: 24px;
    margin: 8px 8px 8px 8px;
}

address{
    font-style: normal;
    font-weight: bold;
    font: 16px;
}

footer+a{
    font: #fff;
    display: inline-block;
    padding-top: 8px;
    padding-right: 16px;
    padding-left: 8px;
    padding-bottom: 8px;
    font-weight: normal;
}